.login {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  &-img {
    width: 45%;
    & img {
      width: 100%;
      object-fit: contain;
      display: inline-block;
      text-align: center;
    }
  }
  & form {
    width: 45%;
    padding: 40px;
    & h2 {
      margin-bottom: 40px;
      text-align: center;
    }
    & .message {
      color: #e65540;
      padding-left: 20px;
    }
  }
  &-control {
    background-color: #eeeeee;
    margin-top: 15px;
    padding: 10px;
    border-radius: 30px;
    & i {
      margin: 0 10px;
    }
    & input {
      background-color: transparent;
    }
  }
  & button {
    width: 100%;
    border-radius: 30px;
    margin-top: 35px;
    text-transform: uppercase;
    background-color: #54b04c;
    border: none;
    &:hover {
      background-color: #368a2e;
    }
  }
  & p {
    margin-top: 10px;
    text-align: center;
    & a:hover {
      text-decoration: none;
    }
    & span {
      color: #ff901f;
      &:hover {
        color: #0056b3;
        cursor: pointer;
      }
    }
  }
}
