<div class="container login" *ngIf="!authService.isAuthenticated()">
  <div class="login-img">
    <img src="./../../../../assets/login-icon.webp" alt="" />
  </div>
  <form [formGroup]="loginForm">
    <h2>Member Login</h2>
    <!-- email -->
    <div class="login-control">
      <i class="fas fa-envelope"></i>
      <input
        type="email"
        placeholder="Your email address"
        formControlName="email"
        autocomplete="off"
        required
        [(ngModel)]="email"
      />
    </div>
    <div
      class="message"
      *ngIf="
        loginForm.controls.email.invalid && loginForm.controls.email.touched
      "
    >
      * Email is required
    </div>

    <!-- password -->
    <div class="login-control">
      <i class="fas fa-lock"></i>
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        autocomplete="off"
        required
        [(ngModel)]="password"
      />
    </div>
    <div
      class="message"
      *ngIf="
        loginForm.controls.email.invalid && loginForm.controls.password.touched
      "
    >
      * Password is required
    </div>

    <!-- btn -->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
      (click)="login()"
    >
      Login
    </button>
    <p>
      <span (click)="demo()">Demo Account</span><br />
      Don't an account yet? <a routerLink="/signup">Sign up one right here</a>
    </p>
  </form>
</div>
