<div class="navbar">
  <div class="navbar_brand">
    <img src="../../../../assets/brand.webp" alt="" />
  </div>
  <ul class="navbar_nav">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
    <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
    <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  </ul>
  <div class="navbar_right">
    <img src="" alt="" />
    <div class="navbar_right-cart">
      <i class="fas fa-cart-plus"></i>
    </div>
  </div>
</div>
