.navbar {
  padding: 30px 40px;
  &_nav {
    list-style: none;
    & li {
      display: inline-block;
      & a {
        color: black;
        font-size: 20px;
        margin: 0 20px;
        &:hover {
          color: #e65540;
        }
        &.active {
          color: #e65540;
        }
      }
    }
  }
}
