<div class="navbar">
  <div class="navbar_brand">
    <img routerLink="/" src="../../../../assets/brand.webp" alt="" />
  </div>
  <ul class="navbar_nav">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li><a routerLink="/products" routerLinkActive="active">Shop</a></li>
    <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>

  <div class="navbar_right">
    <div class="header__cart">
      <div class="header__cart-wrap">
        <i class="header__cart-icon fas fa-shopping-cart"></i>
        <span class="header__cart-notice">{{ totalItem }}</span>

        <!-- no cart: header__cart-list--no-cart -->
        <div class="header__cart-list bright-connect">
          <div class="" *ngIf="products.length == 0">
            <img
              src="./../../../../assets/no_cart.png"
              alt=""
              class="header__cart-no-cart-img"
            />
            <div class="header__cart-list-no-cart-msg">Your cart is empty!</div>
          </div>

          <!-- have cart -->
          <div class="" *ngIf="products.length != 0">
            <h4 class="header__cart-heading">Product added</h4>
            <ul class="header__cart-list-item">
              <li class="header__cart-item" *ngFor="let item of products">
                <img src="{{ item.image }}" alt="" class="header__cart-img" />
                <div class="header__cart-item-info">
                  <div class="header__cart-item-head">
                    <h5 class="header__cart-item-name">
                      {{ item.title }}
                    </h5>
                    <div class="header__cart-item-pice-wrap">
                      <span class="header__cart-item-price">{{
                        item.price | currency: "USD"
                      }}</span>
                      <span class="header__cart-item-multiply">X</span>
                      <span class="header__cart-item-quantity">{{
                        item.quantity
                      }}</span>
                    </div>
                  </div>
                  <div class="header__cart-item-body">
                    <span class="header__cart-item-discription">Phân loại</span>
                    <span
                      class="header__cart-item-delete"
                      (click)="removeItem(item)"
                      >Del</span
                    >
                  </div>
                </div>
              </li>
            </ul>
            <a
              routerLink="/cart"
              class="header__cart-view-cart btn btn--primary"
              >Go to cart</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- user -->
    <div class="navbar_right-img header__navbar-item header__navbar-user">
      <img
        *ngIf="authServices.isAuthenticated()"
        src="./../../../../assets/user.jpg"
        alt=""
      />
      <ul class="header__navbar-user-menu bright-connect">
        <li class="header__navbar-user-item">
          <a (click)="logout()" *ngIf="authServices.isAuthenticated()"
            >Log out</a
          >
        </li>
        <li class="header__navbar-user-item">
          <a>My Acount</a>
        </li>
      </ul>
    </div>

    <!-- login -->
    <div class="navbar_right-login">
      <a
        routerLink="/login"
        *ngIf="!authServices.isAuthenticated()"
        routerLinkActive="active"
        >Login</a
      >
      <a
        routerLink="/signup"
        *ngIf="!authServices.isAuthenticated()"
        routerLinkActive="active"
        >Signup</a
      >
    </div>
  </div>
</div>
