<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="shop">
  <div class="shop__header">
    <img src="./../../../../assets/product/woman.webp" alt="" />
    <div class="shop__header-content">
      <h3>Product</h3>
      <p>New Arrivals Products Collection 2022</p>
    </div>
  </div>

  <!-- category -->
  <div class="category">
    <div class="container category-container">
      <div class="category__item">
        <a (click)="filter('')">
          <img
            src="./../../../../assets/product/allProducCategory.webp"
            alt=""
          />
          <h6>All products</h6>
        </a>
      </div>
      <div class="category__item">
        <a (click)="filter('electronics')">
          <img
            src="./../../../../assets/product/electronicCategory.webp"
            alt=""
          />
          <h6>Electronics</h6>
        </a>
      </div>
      <div class="category__item">
        <a (click)="filter('fashion')">
          <img src="./../../../../assets/product/fashionCategory.jpg" alt="" />
          <h6>Fashion</h6>
        </a>
      </div>
      <div class="category__item">
        <a (click)="filter('jewelery')">
          <img src="./../../../../assets/product/jewelry.jpg" alt="" />
          <h6>Jewelry</h6>
        </a>
      </div>
    </div>
  </div>

  <!-- all products -->
  <div class="shop__body container">
    <div class="shop__body-search">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (keyup)="search($event)"
        placeholder="Search products ..."
      />
      <i class="fas fa-search"></i>
    </div>
    <div class="shop__body-list">
      <ng-container
        *ngFor="
          let item of filterCategory
            | limitTo : searchKey : 'title'
            | paginate
              : { itemsPerPage: 8, currentPage: page, totalItems: totalLength }
        "
      >
        <div class="shop__body-item">
          <app-product-card [data]="item"></app-product-card>
        </div>
      </ng-container>
    </div>
  </div>

  <pagination-controls
    class="paging"
    (pageChange)="page = $event"
  ></pagination-controls>
</div>
