<!-- slider -->
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./../../../../assets/banner/banner1.webp"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>New Arrivals</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      <button routerLink="/products">Shop now</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./../../../../assets/banner/banner2.webp"
        alt="Random second slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>New Arrivals</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button routerLink="/products">Shop now</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./../../../../assets/banner/banner3.webp"
        alt="Random third slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>New Arrivals</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      <button routerLink="/products">Shop now</button>
    </div>
  </ng-template>
</ngb-carousel>

<!-- category -->
<div class="container">
  <div class="category">
    <h2>Category Products</h2>
    <div class="category__list">
      <div class="category__item">
        <div class="category__item-img">
          <img
            src="https://cdn.pixabay.com/photo/2015/06/24/15/45/hands-820272__340.jpg"
            alt=""
          />
        </div>
        <button routerLink="/products">Electronics</button>
      </div>
      <div class="category__item">
        <div class="category__item-img">
          <img
            src="https://media.istockphoto.com/photos/modern-golden-bracelets-and-ring-on-white-and-blue-background-with-picture-id1314987155?b=1&k=20&m=1314987155&s=170667a&w=0&h=AHgkILHfn8F7JLAgTB5gJXK5bMH5LnArTcAoWV87Mo0="
            alt=""
          />
        </div>
        <button routerLink="/products">Jewelery</button>
      </div>
      <div class="category__item">
        <div class="category__item-img">
          <img
            src="https://media.istockphoto.com/photos/this-one-match-perfect-with-me-picture-id1293366109?k=20&m=1293366109&s=612x612&w=0&h=sZxIOdBctJdLx71165XgRdUAQo1SPkGsRPzDR5IF4-Y="
            alt=""
          />
        </div>
        <button routerLink="/products">Men'sClothing</button>
      </div>
      <div class="category__item">
        <div class="category__item-img">
          <img
            src="https://media.istockphoto.com/photos/female-clothes-designer-working-with-new-woman-wear-in-workshop-picture-id1070060814?k=20&m=1070060814&s=612x612&w=0&h=SPbh_QS2iQHBlLNnSWU7YDN9Cyz8s7GnSU1BgIekv7s="
            alt=""
          />
        </div>
        <div class="button">
          <button routerLink="/products">Woman'sClothing</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- collection -->
<div class="collection">
  <div class="container collection-container">
    <div class="collection__view">
      <img
        src="https://preview.colorlib.com/theme/fashe/images/xbanner-08.jpg.pagespeed.ic.DRRTVgFQa3.webp"
        alt=""
      />
      <div class="collection__view-content">
        <h4>The Beauty</h4>
        <h3>Lookbook</h3>
        <a href="">View Collection</a>
      </div>
    </div>
    <div class="collection__view">
      <img
        src="https://preview.colorlib.com/theme/fashe/images/xshop-item-09.jpg.pagespeed.ic.EfeSfp_rLC.webp"
        alt=""
      />
      <div class="collection__view-content">
        <h5>Gafas sol Hawkers one</h5>
        <p>$29.50</p>
        <span>&nbsp;$15.09</span>
      </div>
    </div>
  </div>
</div>
