<!-- slider -->
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./../../../../assets/banner/banner1.webp"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>New Arrivals</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      <button routerLink="/products">Shop now</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./../../../../assets/banner/banner2.webp"
        alt="Random second slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>New Arrivals</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button routerLink="/products">Shop now</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./../../../../assets/banner/banner3.webp"
        alt="Random third slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>New Arrivals</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      <button routerLink="/products">Shop now</button>
    </div>
  </ng-template>
</ngb-carousel>

<!-- category -->
<div class="container">
  <div class="category">
    <h2>Category Products</h2>
    <div class="category__list">
      <div class="category__item">
        <div class="category__item-img">
          <img src="./../../../../assets/product/electronic.jpg" alt="" />
        </div>
        <button routerLink="/products">Electronics</button>
      </div>
      <div class="category__item">
        <div class="category__item-img">
          <img src="./../../../../assets/product/jewelry.jpg" alt="" />
        </div>
        <button routerLink="/products">Jewelry</button>
      </div>
      <div class="category__item">
        <div class="category__item-img">
          <img src="./../../../../assets/product/menClothing.jpg" alt="" />
        </div>
        <button routerLink="/products">Men'sClothing</button>
      </div>
      <div class="category__item">
        <div class="category__item-img">
          <img src="./../../../../assets/product/womanClothing.jpg" alt="" />
        </div>
        <div class="button">
          <button routerLink="/products">Woman'sClothing</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- collection -->
<div class="collection">
  <div class="container collection-container">
    <div class="collection__view">
      <img src="./../../../../assets/product/collection.webp" alt="" />
      <div class="collection__view-content">
        <h4>The Beauty</h4>
        <h3>Lookbook</h3>
        <a (click)="open(content)">View Collection</a>
      </div>
    </div>
    <div class="collection__view">
      <img src="./../../../../assets/product/glasses.webp" alt="" />
      <div class="collection__view-content">
        <h5>Gafas sol Hawkers one</h5>
        <p>$29.50</p>
        <span>&nbsp;$15.09</span>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Collection!</h4>
  </div>
  <div class="modal-body">
    <p>
      Phasellus egestas nisi nisi, lobortis ultricies risus semper nec.
      Vestibulum pharetra ac ante ut pellentesque. Curabitur fringilla dolor
      quis lorem accumsan, vitae molestie urna dapibus. Pellentesque porta est
      ac neque bibendum viverra. Vivamus lobortis magna ut interdum laoreet.
      Donec gravida lorem elit, quis condimentum ex semper sit amet. Fusce eget
      ligula magna. Aliquam aliquam imperdiet sodales. Ut fringilla turpis in
      vehicula vehicula. Pellentesque congue ac orci ut gravida. Aliquam erat
      volutpat. Donec iaculis lectus a arcu facilisis, eu sodales lectus
      sagittis. Etiam pellentesque, magna vel dictum rutrum, neque justo
      eleifend elit, vel tincidunt erat arcu ut sem. Sed rutrum, turpis ut
      commodo efficitur, quam velit convallis ipsum, et maximus enim ligula ac
      ligula. Vivamus tristique vulputate ultricies. Sed vitae ultrices orci.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="d('Cross click')"
    >
      Cancle
    </button>
  </div>
</ng-template>
