<div class="container signup" *ngIf="!authService.isAuthenticated()">
  <div class="signup-img">
    <img src="./../../../../assets/login-icon.webp" alt="" />
  </div>
  <form [formGroup]="signupForm">
    <h2>Sign Up</h2>

    <!-- username -->
    <div class="signup-control">
      <i class="fas fa-user"></i>
      <input
        type="username"
        formControlName="username"
        aria-describedby="emailHelp"
        placeholder="Username"
        autocomplete="off"
        required
      />
    </div>
    <div
      class="message"
      *ngIf="
        signupForm.controls.username.invalid &&
        signupForm.controls.username.touched
      "
    >
      * Username is required
    </div>

    <!-- email -->
    <div class="signup-control">
      <i class="fas fa-envelope"></i>
      <input
        type="email"
        formControlName="email"
        aria-describedby="emailHelp"
        placeholder="Email"
        autocomplete="off"
        required
      />
    </div>
    <div
      class="message"
      *ngIf="
        signupForm.controls.email.invalid && signupForm.controls.email.touched
      "
    >
      * Email is required
    </div>

    <!-- password -->
    <div class="signup-control">
      <i class="fas fa-lock"></i>
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
        autocomplete="off"
        required
        minlength="8"
      />
    </div>
    <div *ngIf="signupForm.controls.password.invalid">
      <div class="message" *ngIf="signupForm.controls.password.touched">
        * Password is required
      </div>
      <div
        class="message"
        *ngIf="signupForm.controls.password.errors.minlength"
      >
        * Min-length is 8 charaters
      </div>
    </div>

    <!-- btn -->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="signupForm.invalid"
      (click)="signUp()"
    >
      Sign Up
    </button>
    <p>Already have an account? <a routerLink="/login">Login here</a></p>
  </form>
</div>
