<div class="footer">
  <div class="footer-container">
    <div class="footer__item">
      <h4>Get in Touch</h4>
      <p>
        Any questions? Let us know in store at 8th floor, 379 Hudson St, New
        York, NY 10018 or call us on (+1) 96 716 6879
      </p>
      <div class="footer__touch-icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>

    <div class="footer__item">
      <h4>Categories</h4>
      <div class="footer__item-link">
        <p>Men</p>
        <p>Woman</p>
        <p>Dresses</p>
        <p>Sunglasses</p>
      </div>
    </div>

    <div class="footer__item">
      <h4>Links</h4>
      <div class="footer__item-link">
        <p>Search</p>
        <p>About Us</p>
        <p>Contact Us</p>
        <p>Returns</p>
      </div>
    </div>

    <div class="footer__item">
      <h4>Help</h4>
      <div class="footer__item-link">
        <p>Track Order</p>
        <p>Returns</p>
        <p>Shipping</p>
        <p>FAQs</p>
      </div>
    </div>

    <div class="footer__item">
      <h4>NewSletter</h4>
      <input type="text" placeholder="email@gmail.com" />
      <button>Subscribe</button>
    </div>
  </div>

  <a routerLink="/aboutme">© {{ currentYear }} YenNT44. All Rights Reserved.</a>
</div>
