<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div *ngIf="product">
  <div class="path">
    Shop > Products > {{ product.category }} > {{ product.title }}
  </div>
  <div class="container">
    <div class="product">
      <img src="{{ product.image }}" alt="" />
      <div class="product-detail">
        <h2>{{ product.title }}</h2>
        <h3>Price: {{ product.price | currency: "USD" }}</h3>
        <p class="product-detail__category">Category: {{ product.category }}</p>

        <!-- number product -->
        <!-- <div class="product-detail__number">
          <button>
            <i
              class="fs-12 fa fa-minus"
              aria-hidden="true"
              (click)="minusPreduct()"
            ></i>
          </button>
          <input [(ngModel)]="numberProduct" type="text" name="num-product" />
          <button>
            <i
              class="fs-12 fa fa-plus"
              aria-hidden="true"
              (click)="plusProduct()"
            ></i>
          </button>
        </div> -->

        <!-- btn Add to Cart -->
        <div class="product-detail__add">
          <button (click)="addtocart(product)" routerLink="/cart">
            Buy now
          </button>
        </div>

        <!-- <div class="product-detail__add">
          <button routerLink="">Buy now</button>
        </div> -->

        <ngb-accordion [closeOthers]="true" activeIds="static-1">
          <ngb-panel id="static-1" title="Description:">
            <ng-template ngbPanelContent>
              {{ product.description }}
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

        <div class="back-products">
          <button class="btn btn-link pl-0" routerLink="../">
            Back to Products
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
